:root {
    --font-sans: "Inter", "Roboto", system-ui, "Segoe UI", "Helvetica Neue", Arial, sans-serif;
}

* {
    box-sizing: border-box;
}

body {
    background-color: rgb(248, 248, 248);
    color: rgb(48, 48, 48);
    font-family: var(--font-sans);
    font-weight: 450;
    letter-spacing: -.1px;
    line-height: 24px;
    margin: 0;
    padding: 0;

    &::selection {
        background-color: rgb(200, 215, 235);
    }
}

header {
    background: linear-gradient(to bottom, rgb(248, 248, 248), rgb(248, 248, 248) 80%, transparent);
    height: 64px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 30;
}

.logo {
    cursor: pointer;
    left: 32px;
    opacity: .7;
    position: absolute;
    top: 20px;
    transition: opacity 0.3s ease;
    width: 64px;

    &:hover {
        opacity: 1;
    }
}

.user-icon {
    background-color: rgb(0, 0, 0);
    border-radius: 50%;
    cursor: pointer;
    padding: 8px;
    position: absolute;
    right: 32px;
    top: 16px;
    width: 38px;

    &:hover {
        opacity: .7;
    }
}

.chat-area {
    line-height: 28px;
    margin-inline: auto;
    max-width: 800px;
    padding: 64px 20px 192px;
}

.user-message-bubble {
    background-color: rgb(255, 255, 255);
    border-radius: 24px 24px 8px;
    border: 1px solid rgb(232, 232, 232);
    margin-bottom: 48px;
    margin-left: auto;
    max-width: 600px;
    padding: 10px 16px;
    width: fit-content;

    & p {
        margin: 0;
    }
}

.model-message-bubble {
    margin-bottom: 48px;
}

.message-input {
    border: 1px solid rgb(232, 232, 232);
    border-radius: 24px;
    bottom: 48px;
    box-shadow: 0 2px 8px rgb(0, 0, 0, 0.05);
    font-family: inherit;
    field-sizing: content;
    font-size: 16px;
    max-height: 340px;
    min-height: 120px;
    left: 0;
    letter-spacing: inherit;
    line-height: inherit;
    margin-inline: auto;
    padding: 20px;
    position: fixed;
    resize: none;
    right: 0;
    scrollbar-color: rgb(0, 0, 0, 0.3) transparent;
    scrollbar-width: thin;
    transition: border 0.3s ease;
    width: 800px;
    z-index: 20;

    &:hover {
        border: 1px solid rgb(208, 208, 208);
    }

    &:focus {
        border: 1px solid #a8a8a8;
        outline: none;
    }

    &::placeholder {
        font-family: inherit;
        letter-spacing: inherit;
    }
}

.hidden-bottom {
    align-content: center;
    background: rgb(248 248 248);
    bottom: 0px;
    font-size: 12px;
    height: 48px;
    left: 0;
    margin-inline: auto;
    position: fixed;
    right: 0;
    text-align: center;
    width: 800px;
    z-index: 10;
}

.profile-link {
    color: rgb(0, 0, 0);
    font-weight: 550;
    text-decoration: none;
}
